.DS_Store
push

*.pyc
*.pkl
*.jpg
#*.png

/models
/models_1
/models_2
/models_sym
/models_lgan
/models_3
/models_eigen
/models_4
/models_5
/models_6
/models_128
/models_bionics
/models_bionics_1
/models_eigen_alter
